@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  padding: border-box;
}
body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  outline: none;
}
@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
 @media (max-width: 720px) {
    html {
      font-size: 87.5%;
    }
}
.header-custom-gradient {
  background: radial-gradient(121.38% 135.02% at 97.22% 93.69%, #9D59FF 0%, rgba(157, 89, 255, 0.00) 76.17%), #3A3C5A;  
}
